/* Search bar layout */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;
  gap: 0.5rem;
}

/* Search input styling */
#search-input {
  width: 60%;
  max-width: 500px;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Improve focus visibility (accessibility) */
#search-input:focus {
  outline: 2px solid #4a90e2;
  border-color: transparent;
}
.episode-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 0.5rem;
}

#episode-select {
  width: 60%;
  max-width: 500px;
  padding: 0.5rem;
  font-size: 1rem;
}


#root {
  color: black;
  padding: 20px;
}

#episodes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.episode-card {
  width: calc(33.333% - 20px); 
  min-width: 250px;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
}

/* --- Image display */

.episode-card img {
  display: block; 
  width: 100%; 
  height: auto;
  margin: 0 auto 10px auto; 
}
/* ------------------------------- */

.episode-card h2 {
  font-size: 1.2em;
}

.episode-card a {
  text-decoration: none;
  color: #333;
}

footer {
  margin-top: 40px;
  padding-top: 10px;
  border-top: 1px solid #000;
  text-align: center;
  font-size: 0.9em;
}

/*- - In style.css styling made to display episode cards. 